@using Microsoft.AspNetCore.Identity
@using PowerslideWebsite.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="logout-form">
        <div class="header-links">
            <div class="header-link">
                <a asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)'s Profile</a>
            </div>
            <div class="header-link">
                <button type="submit" class="logout-button">Log out</button>
            </div>
        </div>
    </form>
}
else
{
    <div class="header-links">
        <div class="header-link">
            <a asp-page="/Account/Register">Register</a>
        </div>
        <div class="header-link">
            <a asp-page="/Account/Login">Log in</a>
        </div>
    </div>
    
}
