@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="title-content">
    <div id="game-description-wrapper" class="title-row">
        <div id="title">
            <h1>Powerslide</h1>
        </div>
        <ul id="gameplay-description">
            <li class="gameplay-description-element">Create your own charts.</li>
            <li class="gameplay-description-element">Use your own music.</li>
            <li class="gameplay-description-element">Play anywhere.</li>
        </ul>
        <div id="gameplay-image-row">
            <div class="center">
                <image class="gameplay-image" src="/images/phone-gameplay-1.png"></image>
                <image class="gameplay-image" src="/images/phone-gameplay-1.png"></image>
                <image class="gameplay-image" src="/images/phone-gameplay-1.png"></image>
            </div>
        </div>
        <div id="nav-link-row">
            <a href="http://www.github.com/jump4r/powerslide">
                <image class="nav-link-image" src="/images/link-button-apk.png"></image>
            </a>
            <a href="https://youtu.be/lOcUJVEhojg">
                <image class="nav-link-image" src="/images/link-button-youtube.png"></image>
            </a>
        </div>
    </div>
    <div class="title-row">
        <div id="gameplay-phone-big">
            <image src="/images/phone-gameplay-1.png"></image>
        </div>
    </div>
    <!-- Removing this for build for NSBE Conference 
    <div id="scroll-button-wrapper" class="center">
        <a href=".">
            <image id="scroll-button" src="/images/scroll-down.png"></image>
        </a>
    </div>
    -->
</div>

<div id="main-content">
    <div id="main-content-wrapper">
        <h1 class="main-content-header">What is Powerslide?</h1>
        <p>
            Powerslide is an open source Android rhythm game based on the Japanese arcde game Sound Voltex: Heavenly Haven. The game is designed to be mobile while
            still having a competitive aspect. Hitcharts are created by the community and can be downloaded on the here
        </p>

        <h2 class="main-content-header">How To Play</h2>
        <p>The goal of the game is to hit the notes in time with the music. Each note will fall down one of four "hitlanes", and when they reach the bar at the bottom, the player
        should tap that hitlane. There are 3 different types of notes.</p>
        <ul>
            <li>Normal - This type of note should be tapped</li>
            <li>Hold - This type of note should be tapped and held.</li>
            <li>Flick - This type of note should be tapped and flicked left or right depending on the direcitonal arrows.</li>
        </ul>
        <p>In addition, there is a fourth note type called a "Slide", distinguished by pink lines instead of black lines. A slide note is similar to a hold note, except you
        should slide your finger along the black bar at the bottom.</p>

        <h2 class="main-content-header">How To Download Hitcharts</h2>
        <p>Please access the <a href="/Beatmaps">Beatmaps</a> page to download hitcharts and mp3 files. At the moment, you must manually add beatmaps to your phone. Please follow
        the instructions below for installing beatmaps to your Android device. I will soon be making steps to make this process easier.</p>
        <ul>
            <li>Please connect your phone to your computer, and navigate to your phone's storage in your file explorer.</li>
            <li>Navigate to the following directory: (Phone Name)\Internal shared storage\Android\data\com.Jump4r.Powerslide\files.</li>
            <li>If a folder named "Beatmaps" is not there, create this folder.</li>
            <li>Add your beatmap to the "Beatmaps" folder</li>
        </ul>
    </div>
</div>


